$black: #000000;
$blackGray: #999999;
$darkGray: #707070;
$gray: #807f83;
$green: #4ac22d;
$lightBlue: #0081c6;
$purple: #52247f;
$red: #ff0000;
$silverGray: #f6f6f6;
$white: #ffffff;
$yellow: #ffdd00;

$backgroundColor: $silverGray;
$bodyText: $white;
$buttonBackgroundColor: $lightBlue;
$buttonBorderColor: $darkGray;

:export {
}
