$desktopWidth: 1281px;
$laptopWidth: 1025px;
$miniTabletWidth: 461px;
$mobileWidth: 320px;
$tabletWidth: 768px;

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@mixin desktopAndAbove {
    @media (min-width: #{ $desktopWidth }) {
        @content;
    }
}

@mixin desktopAndBelow {
    @media (max-width: #{ $desktopWidth - 1 }) {
        @content;
    }
}

/*
  ##Device = from Laptops to Desktops
  ##Laptop Screen = B/w 1025px to 1280px
*/

@mixin laptopAndAbove {
    @media (min-width: #{ $laptopWidth }) {
        @content;
    }
}

@mixin laptopAndBelow {
    @media (max-width: #{ $desktopWidth - 1 }) {
        @content;
    }
}

@mixin laptopOnly {
    @media (min-width: #{ $laptopWidth }) and (max-width: #{ $desktopWidth - 1px }) {
        @content;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@mixin miniTabletAndAbove {
    @media (min-width: #{ $miniTabletWidth }) {
        @content;
    }
}


@mixin miniTabletAndBelow {
    @media (max-width: #{ $tabletWidth - 1px }) {
        @content;
    }
}

@mixin miniTabletOnly {
    @media (min-width: #{ $miniTabletWidth }) and (max-width: #{ $tabletWidth - 1px }) {
        @content;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/


@mixin mobileAndAbove {
    @media (min-width: #{ $mobileWidth }) {
        @content;
    }
}


@mixin mobileAndBelow {
    @media (max-width: #{ $miniTabletWidth - 1px }) {
        @content;
    }
}

@mixin mobileOnly {
    @media (min-width: #{ $mobileWidth }) and (max-width: #{ $miniTabletWidth - 1px }) {
        @content;
    }
}

/*
  ## Extra
*/

@mixin print {
    @media print {
        @content;
    }
}

@mixin retina {
    @media only screen and (-o-min-device-pixel-ratio: 2 / 1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
            @content;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@mixin tabletAndAbove {
    @media (min-width: #{ $tabletWidth }) {
        @content;
    }
}

@mixin tabletAndBelow {
    @media (max-width: #{ laptopWidth - 1 }) {
        @content;
    }
}

@mixin tabletOnly {
    @media (min-width: #{ $tabletWidth }) and (max-width: #{ laptopWidth - 1px }) {
        @content;
    }
}

:export {
}
