@mixin bodyText {
    color: $white;
    font-family: $arial;
    font-size: 14px;
    font-weight: 400;
}

@mixin regularMediumText {
    color: $white;
    font-family: $arial;
    font-size: 16px;
    font-weight: 400;
}

